@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-dark-green: #053631;
  --color-light-green: #4e6d43;
  --color-text-green: #283836;
  --color-bg-section: #f2f4f1;
  --color-text-black: #011412;
  --breakpoint-sm: 40rem; /* 480px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 130rem; /* 2080px */
}

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  input {
    /* outline-0 text-black px-[1.8rem] py-[1.4rem] w-72 placeholder:text-black placeholder:opacity-25
 */

    outline: none;
    color: var(--color-black);
    padding: 1.8rem 1.4rem;
    width: calc(var(--spacing) * 72);
  }
  input::placeholder {
    opacity: 25;
  }
}

@layer components {
  .statistics__number {
    font-size: var(--text-6xl);
    display: block;
    margin-bottom: calc(var(--spacing) * 4);
    max-width: calc(var(--spacing) * 12);
    font-weight: var(--font-weight-semibold);
  }
  .tick {
    color: var(--color-light-green);
    font-size: 1.1rem;
  }
  .btn {
    padding-top: calc(var(--spacing) * 4);
    padding-bottom: calc(var(--spacing) * 4);
    padding-left: calc(var(--spacing) * 7);
    padding-right: calc(var(--spacing) * 7);
    background: var(--color-light-green);
    color: var(--color-white);

    @variant hover {
      background-color: var(--color-dark-green);
    }
  }
  .attribute {
    padding: 0.3rem;
    background: var(--color-gray-200);
    opacity: 80%;
    font-size: 13px;
  }
}
